@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f0f0f;
  color: #f1f1f1;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #272727;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

